@using EntityLayer.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Başlıklar</h2>

<table class="table table-hover">
    <tr>
        <th>NO</th>
        <th>Başlık</th>
        <th>Yazar</th>
        <th>Kategori</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HeadingID</td>
            <td>@item.HeadingName</td>
            <td>@item.Writer.WriterName @item.Writer.WriterSurname</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }

</table>

<div class="text-center">
    <a class="btn btn-info" href="/Heading/AddHeading/">Başlık Oluştur</a>
</div>