@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yazar Güncelleme</h2>


<div class="container">
    <form method="post">
        <div class="row">
            @Html.HiddenFor(x => x.WriterID)

            <div class="col-6 form-group">
                <label>Adı</label>
                @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control", @placeholder = "Yazar Adı" })
                @Html.ValidationMessageFor(x => x.WriterName)
            </div>

            <div class="col-6 form-group">
                <label>Soyadı</label>
                @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control", @placeholder = "Yazar Soyadı" })
                @Html.ValidationMessageFor(x => x.WriterSurname)
            </div>

        </div>
        <br />
        <div class="row">
            <div class="form-group col-12">
                <label>Hakkında</label>
                @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control", @placeholder = "Yazar Hakkında" })
                @Html.ValidationMessageFor(x => x.WriterAbout)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label>Email</label>
                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control ", @placeholder = "Yazar Mail" })
                @Html.ValidationMessageFor(x => x.WriterMail)
            </div>

            <div class="col-4">
                <label>Şifre</label>
                @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control ", @placeholder = "Yazar Şifre" })
                @Html.ValidationMessageFor(x => x.WriterPassword)
            </div>

            <div class="col-4">
                <label>Ünvan</label>
                @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control ", @placeholder = "Yazar Ünvan" })
                @Html.ValidationMessageFor(x => x.WriterTitle)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group col-12">
                <label>Görsel</label>
                @Html.TextAreaFor(x => x.WriterImage, new { @class = "form-control", @placeholder = "Yazar Görsel" })
                @Html.ValidationMessageFor(x => x.WriterImage)
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary">Güncelle</button>
        </div>
    </form>
</div>